---
import remarkHtml from 'remark-html'
import Navigation from '../../../components/Navigation.astro'
import Page from '../../../layouts/Page.astro'
import type { BlogGroup } from '../../../types'
const { group, slug } = Astro.params
import { getBlogPost } from '../../../utils'
import { remark } from 'remark';
import PublishTime from "../../../components/blog/PublishTime.tsx";

const post = await getBlogPost(group as BlogGroup, slug as string)

const parsed = await remark().use(remarkHtml).process(post?.content ?? "no content"); 

export const prerender = false

const title = post && post.title ? post.title : "Blog Post";
---

<Page title={title} description={post?.description ?? "Blog Post"} canonical={`https://forbit.dev/blog/${group}/${slug}`}>
    <Navigation home={false} />
    <main class="blog-post">
        {
            !post ? (
                <p>Error fetching blog post</p>
            ) : (
                <>
                    <h1 class="text-4xl" transition:name={"title-"+post.slug}>{post.title}</h1>
                    <div class="row row-sm text-muted">
                        <span>Published </span>
                        <PublishTime client:load date={post.published_at} />
                    </div>
                    <article>{parsed}</article>
                </>
            )
        }
    </main>
</Page>

<style>
    .blog-post {
        max-width: 800px;
        margin-inline: auto;
        padding-inline: 1rem;
    }
</style>

