---
import { Badge } from "@f0rbit/ui"
import { Hammer, MonitorX, Pause, Radio, Rocket, Trash2, Zap } from 'lucide-astro'
import type { PROJECT_STATUS } from '../../types'

interface Props {
    status: PROJECT_STATUS,
    size?: number
}

const { status } = Astro.props
const size = Astro.props.size ?? 24;

function getVariant(status: PROJECT_STATUS) {
    switch (status) {
        case "DEVELOPMENT": return "accent";
        case "LIVE":
        case "FINISHED":
        case "RELEASED": return "success";
        case "STOPPED":
        case "ABANDONED": return "error";
        case "PAUSED": return "warning";
        default: return "default";
    }
}
---

<Badge variant={getVariant(status)}>
    <span class="row-sm">
        {
            [status].map((s: PROJECT_STATUS) => {
                switch (s) {
                    case 'DEVELOPMENT':
                        return <Hammer size={size} />
                    case 'LIVE':
                        return <Radio size={size} />
                    case 'PAUSED':
                        return <Pause size={size} />
                    case 'STOPPED':
                        return <MonitorX size={size} />
                    case 'RELEASED':
                        return <Rocket size={size} />
                    case 'ABANDONED':
                        return <Trash2 size={size} />
                    case "FINISHED":
                        return <Zap size={size} />
                }
                return <div>N/A</div>
            })
        }
        <span style="text-transform: capitalize;">{status.toLowerCase()}</span>
    </span>
</Badge>
