---
import moment from 'moment'
import { experience } from '../../assets/experience'
import type { Experience } from '../../assets/experience'
import ExperienceCard from "./ExperienceCard.astro";
interface Props {
    types: readonly Experience['type'][]
    sort: 'latest' | 'earliest' | 'position' | 'reverse_position'
    mode: 'left' | 'middle'
}

const { types, sort, mode } = Astro.props

const experiences = Object.entries(experience)
    .map(([id, data]) => ({ id, ...data }))
    .filter((exp) => types.includes(exp.type))

// based on the sort prop, sort by latest or earliest
if (sort == 'latest') {
    // sort by the latest end time, if null (present), sort by start date (latest first)
    experiences.sort((a, b) => {
        if (a.end_date == null && b.end_date == null) return b.start_date.getTime() - a.start_date.getTime()
        if (a.end_date == null) return -1
        if (b.end_date == null) return 1
        return b.end_date.getTime() - a.end_date.getTime()
    })
} else if (sort == 'earliest') {
    experiences.sort((a, b) => {
        return a.start_date.getTime() - b.start_date.getTime()
    })
} else if (sort == 'position') {
    experiences.sort((a, b) => a.position - b.position)
} else if (sort == 'reverse_position') {
    experiences.sort((a, b) => b.position - a.position)
}

const tags = !(types.length == 1 && types[0] == "professional");

moment.locale('en-au')
---

{
    mode == 'left' ? (
        <div class="experience-left">
            {experiences.map((experience, i) => <ExperienceCard experience={experience} type={"normal"} tags={tags} isLast={i === experiences.length - 1} />)}
        </div>
    ) : (
        <div class="experience-middle" style={{gridTemplateColumns: "minmax(0, 1fr) 1px minmax(0,1fr)"}}>
            <div id="timeline-left" class="experience-column">
                {experiences.filter((_, index) => index % 2 == 0).map((e) => <ExperienceCard experience={e} type={"left"} tags={tags} />)}
            </div>
            <div class="experience-line-middle" style="margin-top: 10px;" />
            <div id="timeline-right" class="experience-column" style="margin-top: 7rem;">
                {experiences.filter((_, index) => index % 2 == 1).map((e) => <ExperienceCard experience={e} type={"right"} tags={tags}/>)}
            </div>
        </div>
    )
}

<style>
  .experience-left {
    display: flex;
    flex-direction: column;
  }
  .experience-middle {
    position: relative;
    display: grid;
    gap: var(--space-lg);
    width: 100%;
  }
  .experience-column {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    flex-grow: 1;
    width: 100%;
  }
  .experience-line-middle {
    min-height: 100%;
    width: 1px;
    background: var(--fg-subtle);
  }
</style>
