---
import moment from 'moment'
import type { Experience } from '../../assets/experience'
import { formatDuration } from '../../utils'
import SkillEvents from '../about/SkillEvents.astro'
import AwardTypeIcon from '../projects/AwardTypeIcon.astro'
import { Badge, Clamp } from "@f0rbit/ui"
interface Props {
    experience: Experience & { id: string }
    type: 'left' | 'right' | 'normal'
    tags: boolean
}

const { experience, type, tags } = Astro.props

const date_string = `${moment(experience.start_date).calendar()} - ${experience.end_date ? moment(experience.end_date).calendar() : 'Present'}`
const duration = experience.end_date ? moment.duration(moment(experience.end_date).diff(experience.start_date)) : moment.duration(moment().diff(experience.start_date))
const { title, awards } = experience
---

<div class={`stack-sm relative ${['left', 'right'].includes(type) ? 'min-h-[10rem]' : ''} ${type == 'left' ? 'items-end text-right' : ''}`}>
    <div
        class={`absolute 
            ${type == 'normal' ? '-left-[16px] top-[6px]' : ''} 
            ${type == 'right' ? 'top-[6px] -left-[23.5px]' : ''} 
            ${type == 'left' ? 'top-[6px] -right-[23.5px]' : ''}
        `}
        style="width: 8px; height: 8px; border-radius: 50%; background: var(--fg-muted);"
    >
    </div>
    <div class="stack">
        <label class="text-sm -mb-1">
            <span>{date_string}</span>
            {duration && <span class="text-subtle"> ({formatDuration(duration)})</span>}
        </label>
        <div class={`flex ${type == 'left' ? 'flex-row-reverse' : 'flex-row'} items-center gap-0.5 `}>
            <h3 id={experience.id}>{title}</h3>
            {tags && <Badge variant="accent"><span style="text-transform: capitalize;">{experience.type}</span></Badge>}
        </div>
        {experience.company && <div class="text-xs text-subtle">{experience.company}</div>}
    </div>
    <div class={`stack ${type == 'left' ? 'pr-3' : 'pl-3'}`}>
        <Clamp client:load lines={2} showMoreText="Read More" showLessText="Read Less">
            <p class="text-muted">{experience.description}</p>
        </Clamp>
        <div class={`cluster items-center ${type == 'left' ? 'justify-end' : ''}`}>
            {
                awards.map((award) => (
                    <Badge title={award.description}>
                        <AwardTypeIcon type={award.type} size={20} />
                        <span>{award.title}</span>
                    </Badge>
                ))
            }
            {experience.skills.map((event) => <SkillEvents event={event} />)}
        </div>
    </div>
</div>
