---
import CenteredContainer from '../components/CenteredContainer.astro'
import Page from '../layouts/Page.astro'
import Navigation from '../components/Navigation.astro'
import AboutMe from '../components/about/AboutMe.astro'
import Experience from '../components/about/Experience.astro'
import RecentProjects from '../components/projects/RecentProjects.astro'
import SkillSelector from '../components/about/SkillSelector'
import { skills } from '../assets/skills'

const hobbies = [
    {
        title: "Photography",
        background: "\"https://images.pexels.com/photos/12882429/pexels-photo-12882429.jpeg\"",
        url: "https://www.flickr.com/tmaterne/"
    },
    {
        title: "Painting",
        background: "https://images.squarespace-cdn.com/content/5942c23d8419c2dea969941a/1594788901787-3H2JUWI1097AF8HV6OMI/YT_PWMChallenge.png?content-type=image%2Fpng",
        url: "https://pin.it/6j3Ka81sa"
    }, {
        title: "Music",
        background: "https://preview.redd.it/started-a-vinyl-collection-in-september-its-grown-very-fast-v0-n2xm1g3iz7dc1.jpeg?width=1080&crop=smart&auto=webp&s=c055e82d09fdff2d230486115176ef0771e9377d",
        url: "https://blends.blog/music"
    }, {
        title: "Badminton",
        background: "https://www.westtorrens.sa.gov.au/files/content/public/v/2/events-directory/come-and-try-badminton-session-a/badminton.png?w=1200",
        url: null
    }
]

export const prerender = false;
---

<Page title="About Me" description="Read to find out about what I'm currently working on, my professional experience and personal projects, and what my aspirations are for the future" keywords={["about", "resume", "hobbies", "tech journey", "minecraft plugins advanced", "becoming software engineer"]} canonical='https://forbit.dev/about'>
    <Navigation home={false} />
    <CenteredContainer tag="main" class="flex flex-col gap-2">
        <section id="info">
            <h2>About Me</h2>
            <AboutMe more={false} />
        </section>
        <section id="experience">
            <h2>My Journey</h2>
            <div class="hidden lg:block">
                <Experience types={['learning', 'hobby', 'professional']} sort={'earliest'} mode={'middle'} />
            </div>
            <div class="block lg:hidden">
                <Experience types={['learning', 'hobby', 'professional']} sort={'earliest'} mode={'left'} />
            </div>
        </section>
        <section id="working-on">
            <h2>Recent Projects</h2>
            <div class="grid gap-2 p-2 grid-cols-1 xl:grid-cols-3">
                <RecentProjects />
            </div>
        </section>
        <section id="hobbies">
            <h2>Hobbies</h2>
            <div class="grid gap-2 p-2 grid-cols-2 xl:grid-cols-4">
            {Object.values(hobbies).map(({ title, background, url }) => (
            <a href={url}>
                <div class="flex justify-center items-center rounded border-borders-primary border bg-cover h-24"}} style={{backgroundImage: `url(${background})`}}>
                    <div class="w-full h-full bg-[rgba(0,0,0,0.5)] flex justify-center items-center">
                        <h3 class="text-2xl drop-shadow-sm text-white text-center">{title}</h3>
                    </div>
                </div>
            </a>
            ))}
        </section>
        <section id="skillset">
            <h2>Skills</h2>
            <SkillSelector client:load skills={skills} />
        </section>
    </CenteredContainer>
</Page>
