---
import { Card, CardHeader, CardTitle, CardContent, CardFooter, Badge } from "@f0rbit/ui";
import { Github } from 'lucide-astro'
import type { Project } from '../types'
import Status from './projects/Status.astro'
import { TECH_MAP, type Technology } from '../assets/technology'
import TechnologyIcon from './projects/TechnologyIcon.astro'

interface Props {
    project: Project
}

const { project } = Astro.props

const technologies: Technology[] = TECH_MAP[project.project_id] ?? []
---

<Card id={project.project_id}>
    <CardHeader>
        <CardTitle>
            <a href={`/projects/${project.project_id}`}>{project.name}</a>
        </CardTitle>
    </CardHeader>
    <CardContent>
        <p class="text-muted">{project.description}</p>
    </CardContent>
    <CardFooter>
        <div class="cluster">
            <Status status={project.status} />
            {
                project.repo_url && (
                    <Badge>
                        <a href={project.repo_url} class="row-sm">
                            <Github size={16} />
                            GitHub
                        </a>
                    </Badge>
                )
            }
            {
                project.link_url && (
                    <Badge>
                        <a href={project.link_url}>{project.link_text}</a>
                    </Badge>
                )
            }
            {
                technologies.length > 0 && (
                    <Badge>
                        <div class="row-sm">
                            {technologies.map((tech: Technology) => (
                                <TechnologyIcon tech={tech} />
                            ))}
                        </div>
                    </Badge>
                )
            }
        </div>
    </CardFooter>
</Card>
