---
import { Github } from 'lucide-astro'
import type { Project } from '../types'
import Status from './projects/Status.astro'
import { TECH_MAP, type Technology } from '../assets/technology'
import TechnologyIcon from './projects/TechnologyIcon.astro'

interface Props {
    project: Project
}

const { project } = Astro.props

const technologies: Technology[] = TECH_MAP[project.project_id] ?? [];
---

<div id={project.project_id} class="flex items-center flex-col gap-4 rounded border border-borders-primary px-2 py-1 text-base-text-secondary">
    <a href={`/projects/${project.project_id}`}><h2 class="text-2xl hover:text-blue-500">{project.name}</h2></a>
    <p class="w-full h-full px-4">{project.description}</p>
    <div class="flex flex-row gap-2 flex-wrap justify-center">
        <Status status={project.status} />
        {project.repo_url && <div class="rounded border border-borders-primary px-2 py-1 font-bold"><a href={project.repo_url} class="flex flex-row gap-1"><Github /><p>GitHub</p></a></div>}
        {project.link_url && <div class="rounded border border-borders-primary px-2 py-1 font-bold"><a href={project.link_url}>{project.link_text}</a></div>}
        {technologies.length > 0 && <div class="rounded border border-borders-primary px-2 py-1 font-bold flex flex-row gap-1 items-center">
            {technologies.map((tech: Technology) => <TechnologyIcon tech={tech} />)}
        </div>}
    </div>
</div>
