---
import Navigation from '../../components/Navigation.astro'
import ProjectPage from '../../components/projects/ProjectPage.astro'
import Page from '../../layouts/Page.astro'
import { getProject } from '../../utils'
const { project_id } = Astro.params

// fetch the project from api
const project = project_id ? await getProject(project_id) : null

const description = project?.description ?? (project?.name ? `Project page for ${project.name}` : `Invalid project`)
---

<Page title={project?.name ?? '404'} description={description} canonical={`https://forbit.dev/projects/${project_id}`}>
    <Navigation home={false} />
    <div class="center center-wide stack" style="overflow-x: hidden;">
        {project ? <main class="project-layout"><ProjectPage project={project} /></main> : <p style="color: var(--error); text-align: center;">Invalid Project!</p>}
    </div>
</Page>

<style>
    .project-layout {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
    }
    @media (min-width: 1280px) {
        .project-layout {
            flex-direction: row;
        }
    }
</style>
