---
import type { Post } from '../../types'
import { Card, CardHeader, CardTitle, CardContent, CardFooter, Button } from "@f0rbit/ui";

interface Props {
    post: Post
}

const { post } = Astro.props
const relative_url = `${post.group}/${post.slug}`
---

<div class="blog-card">
    <Card>
        <CardHeader>
            <CardTitle><span transition:name={'title-' + post.slug}>{post.title}</span></CardTitle>
        </CardHeader>
        <CardContent>
            <p class="text-subtle">{post.description}</p>
        </CardContent>
        <CardFooter>
            <div class="row" style="justify-content: center;">
                <a href={`/blog/${relative_url}`}>
                    <Button variant="secondary">Read</Button>
                </a>
                {!!post.url && (
                    <a href={post.url}>
                        <Button variant="ghost">Visit</Button>
                    </a>
                )}
            </div>
        </CardFooter>
    </Card>
</div>

<style>
    .blog-card {
        height: 100%;
    }
    .blog-card :global(.card) {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .blog-card :global(.card-content) {
        flex-grow: 1;
    }
    .blog-card :global(.card-footer) {
        justify-content: center;
        border-top: none;
        padding-top: 0;
        margin-top: var(--space-sm);
    }
</style>
