--- 
interface Props {
	title: string;
	description: string;
	keywords?: string[],
	canonical?: string,
}

import Footer from "../components/Footer.astro";

const { title, description, keywords = [], canonical = null } = Astro.props;
import "../global.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		{keywords.length > 0 ? <meta name="keywords" content={keywords.join(", ")} /> : null}
		<meta name="title" content={title} />
		<meta name="author" content="forbit" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		{canonical ? <link rel="canonical" href={canonical} /> : null}
		<meta name="generator" content={Astro.generator} />
	</head>
	<body class="text-base-text-subtlish bg-base-bg-primary">
        <div class="pb-4" style={{minHeight: "calc(100vh - 41px)"}}>
		    <slot />
        </div>
        <div class="block">
            <Footer />
        </div>
	</body>
</html>
